$font-stack: Public Sans;
$primary-color: #333;

// grid variables
$grid-columns: 12;
$grid-max-width: 1920px;

// breakpoints
$breakpoint-extra-large: 'only screen and (min-width: 1920px)';
$breakpoint-large: 'only screen and (min-width: 1080px)';
$breakpoint-medium: 'only screen and (min-width: 768px)';
$breakpoint-small: 'only screen and (min-width: 0px)';