@import "../../../src//assets/scss/_variables";

.container {
  width: 95%;
  margin: 0 auto;

  .left-column {
    float: left;
    padding: 2rem;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin-bottom: 50px;

    h2 {
      margin-bottom: 25px;
    }
    img {
      width: 100%;
      border-radius: 10px;
    }

    p {
      margin: 10px 0px;
    }

    .card-details {
      justify-content: space-between;
      display: flex;
      margin: 20px 0px;
      font-size: 20px;
      font-weight: bold;
    }

    .no-data-found {
      text-align: center;

      .error-title {
        font-size: 30px;
        font-weight: bold;
      }
      .error-description {
        margin: 10px 0px;
      }
      img {
        width: 80%;
      }
    }
  }

  .right-column {
    float: left;
    padding-top: 0px !important;
    .fake-img {
      background-color: #aaa;
      width: 100%;
      padding: 20px;
      height: 200px;
      margin-bottom: 15px;
      border-radius: 10px;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
      text-transform: uppercase;
    }
  }
}

@media #{$breakpoint-medium} {
  .container {
    margin-top: 50px;
  }
}

@media #{$breakpoint-small} {
  .container {
    margin-top: 50px;
  }
}

@media #{$breakpoint-large} {
  .container {
    margin-top: 0px;
  }
}