@import "../src/assets/scss/_variables";

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.app {
  %clearfix {
    *zoom: 1;
    &:before,
    &:after {
      content: '';
      display: table;
    }
    &:after {
      clear: both;
    }
  }

  @mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *,
  *:after,
  *:before {
    margin: 0;
    padding: 0;
    @include border-box;
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto !important;
  }

  .wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .wrapper,
  .row {
    @extend %clearfix;
  }

  [class*='col-'] {
    float: left;
    padding: 25px;
    width: 100%;
    min-height: 1px;
  }

  @media #{$breakpoint-small} {
    .wrapper {
      width: 95%;
      max-width: $grid-max-width;

      .add-block-button {
        color: #ef6f09;
        text-transform: uppercase;
        font-weight: bold;
        padding: 16px 75px 16px 75px;
        width: 100%;
        text-align: center;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #5f5f5f;
      }
    }
    @for $i from 1 through $grid-columns {
      .col-sm-#{$i} {
        width: calc(100% / $grid-columns) * $i;
      }
    }
  }

  @media #{$breakpoint-medium} {
    .wrapper {
      width: 95%;
      max-width: $grid-max-width;
      .add-block-button {
        color: #ef6f09;
        text-transform: uppercase;
        font-weight: bold;
        padding: 16px 75px 16px 75px;
        width: 100%;
        text-align: center;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #5f5f5f;
      }
    }
    @for $i from 1 through $grid-columns {
      .col-md-#{$i} {
        width: calc(100% / $grid-columns) * $i;
      }
    }
  }

  @media #{$breakpoint-large} {
    .wrapper {
      width: 95%;
      max-width: $grid-max-width;
      margin-top: 50px;
      .add-block-button {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        padding: 16px 75px 16px 75px;
        max-width: 150px;
        text-align: center;
        display: inline;
        cursor: pointer;
        background-color: #ef6f09;
        border-bottom: 0px;
      }
    }
    @for $i from 1 through $grid-columns {
      .col-lg-#{$i} {
        width: calc(100% / $grid-columns) * $i;
      }
    }
  }

  @media #{$breakpoint-extra-large} {
    .wrapper {
      width: 95%;
      max-width: $grid-max-width;
    }
    @for $i from 1 through $grid-columns {
      .col-xl-#{$i} {
        width: calc(100% / $grid-columns) * $i;
      }
    }
  }
}
