.blockContainer {
  padding: 1rem;
  .homeImage {
    border-radius: 5px;
  }

  .content {
    .title {
      font-size: 18px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
      margin: 10px 0px;
    }
    .price {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: #1c1c1c;
    }

    .description {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: #5f5f5f;
      margin-bottom: 5px;
    }
  }
}
